<!DOCTYPE html>
<html lang="en">
<head>

    <title>Login</title>
</head>
<body>
<center>

    <form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=20, placeholder="Enter the username")}}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }} <br>
            {{form.password(size=20, placeholder="Enter the password")}}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>


        <p>
            {{ form.submit }}
        </p>

    </form>

    <form method="get" action="{{ url_for('logout') }}">
        <input type="hidden" name="logout">
        <button type="submit">Logout</button>
    </form>

</center>
</body>
</html>
