<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<center>

    <!-- ✅ Show popup if error exists -->
    {% if error %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}

    <form method="POST" action="{{ url_for('login') }}">
        <input type="text" name="Username" placeholder="Enter username" ><br>
        <input type="text" name="Password" placeholder="Enter password" ><br>
        <button type="submit">Login</button>
    </form>

    {% if error %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}

    <form method="get" action="{{ url_for('logout') }}">
        <input type="hidden" name="logout">
        <button type="submit">Logout</button>
    </form>

</center>
</body>
</html>
